.editor-area {
  display:block;
  width:100%;
  height:94%;
  border:10px solid #333;
  background-color:#222;
  margin:0 0 1px;
  padding:10px;
  font-family:Consolas,"Andale Mono WT","Andale Mono","Lucida Console","Lucida Sans Typewriter","DejaVu Sans Mono","Bitstream Vera Sans Mono","Liberation Mono","Nimbus Mono L",Monaco,"Courier New",Courier,Monospace;
  color:#ccc;
  box-shadow:inset 0 0 4px black;
  resize:none;
}
.editor-control {
  overflow:hidden;
  position:relative;
  height:28px;
  line-height:28px;
}
.editor-control a {
  text-decoration:none !important;
  display:block;
  float:left;
  padding:0 8px;
  background-color:#333;
  color:#ccc;
  margin-right:1px;
  cursor:default;
}
.editor-control a:hover {color:white}
.editor-control a:active {
  background-color:#222;
  color:white;
}
