* {
  margin:0;
  padding:0;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}
*:focus {outline:none}
html,
body {
  height:100%;
  min-height:100%;
}
body {
  background-color:#3c3c3c;
  padding:40px;
  font:normal normal 13px/1.4 Helmet,Freesans,Sans-Serif;
  color:#ccc;
}
a {
  color:blue;
  text-decoration:none;
}
a:hover {text-decoration:underline}
a:active {color:red}
input,
select,
textarea {
  background-color:white;
  border:1px solid;
  padding:2px;
  font:inherit;
  color:inherit;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  margin:0;
  padding:0;
  border:none;
  outline:none;
}
p,
fieldset {margin:1em 0 0}
hr {
  height:0;
  border:none;
  background:none;
  border-top:1px solid;
  margin:.5em 0;
}
