extends ../_index.pug

block state
  - const title = 'Text Editor'
  - const scripts = ['../index.min.js']

block script
  script
    | const editor = new TE(document.querySelector('textarea'));

block content
  main
    p: textarea(spellcheck='false')
      |  a  b  c  d  e  f
      |  a  b  c  d  e  f
      |  1  2  3  4  5  6
      |  1  2  3  4  5  6
    p
      button(onclick='editor.trim();') Trim
      |
      |
      button(onclick='editor.trim(false, false);') Trim Start and End of Selection
      = ' '
      button(onclick='editor.trim("", "", false, false);') Trim Before and After Selection
      = ' '
      button(onclick='editor.trim(\' \', \' \');') Tidy with a Space
      = ' '
      button(onclick='editor.trim(\'\\n\\n\', \'\\n\\n\');') Tidy with Line Break
