extends ../_index.pug

block state
  - const title = 'Text Editor'
  - const scripts = ['../index.min.js']

block script
  script
    | const editor = new TextEditor(document.querySelector('textarea'));

block content
  main
    p: textarea(spellcheck='false') abcdef
    p: button(onclick='alert(JSON.stringify(editor.$(), null, 2));') Inspect