extends ../_index.pug

block state
  - const scripts = ['../index.min.js']
  - const title = 'Text Editor'

block script
  script
    | const editor = new TextEditor(document.querySelector('textarea'));

block content
  main
    p: textarea(disabled spellcheck='false') abcdef
    p
      button(onclick='editor.wrap(\'*\', \'*\').focus();'): b B
      = ' '
      button(onclick='editor.wrap(\'_\', \'_\').focus();'): i I
    p
      label
        input(onchange='editor.self.disabled = !editor.self.disabled; editor.detach().attach();' type='checkbox')
        = ' '
        span Enable