extends ../_index.pug

block state
  - const scripts = ['../index.min.js']
  - const title = 'Text Editor'

block script
  script
    | const editor = new TextEditor(document.querySelector('input'));

block content
  main
    p: input(type='text' value='abcdef')
    p
      button(onclick='editor.wrap(\'*\', \'*\');'): b B
      = ' '
      button(onclick='editor.wrap(\'_\', \'_\');'): i I