extends ../_index.pug

block state
  - const scripts = ['../index.min.js']
  - const title = 'Text Editor'

block script
  script
    | let sources = document.querySelectorAll('textarea');
    |
    | const editor_1 = new TextEditor(sources[0]);
    | const editor_2 = new TextEditor(sources[1]);
    | const editor_3 = new TextEditor(sources[2]);

block content
  main
    p: textarea(spellcheck='false') abcdef
    p
      button(onclick='editor_1.wrap(\'*\', \'*\');'): b B
      = ' '
      button(onclick='editor_1.wrap(\'_\', \'_\');'): i I
    p: textarea(spellcheck='false') abcdef
    p
      button(onclick='editor_2.wrap(\'*\', \'*\');'): b B
      = ' '
      button(onclick='editor_2.wrap(\'_\', \'_\');'): i I
    p: textarea(spellcheck='false') abcdef
    p
      button(onclick='editor_3.wrap(\'*\', \'*\');'): b B
      = ' '
      button(onclick='editor_3.wrap(\'_\', \'_\');'): i I