extends ../_index.pug

block state
  - const title = 'History &middot; Text Editor'
  - const scripts = ['../index.min.js', 'history.min.js']

block script
  script
    | const editor = new TE(document.querySelector('textarea'));
    |
    | let dump = document.querySelector('code');
    |
    | editor.record(); // Record the initial value
    |
    | editor.self.addEventListener('keydown', () => {
    |     setTimeout(() => editor.record(), 1); // Record keyboard interaction
    | });

block content
  main
    p: textarea(placeholder!='Type something&hellip;' spellcheck='false')
    p
      button(onclick='dump.innerHTML = \'Current: \' + editor._historyState + \'\\n---\\nAll: \' + JSON.stringify(editor.history(), null, 2);') Inspect History
      = ' '
      button(onclick='dump.innerHTML = JSON.stringify(editor.history(1), null, 2);') Inspect the 2(nd) History
      = ' '
      button(onclick='editor.record();') Save Selection to History
      = ' '
      button(onclick='editor.loss();') Delete Current History
      = ' '
      button(onclick='editor.loss(editor._historyState);') Delete the Last History
      = ' '
      button(onclick='editor.loss(0);') Delete the First History
      = ' '
      button(onclick='editor.loss(true);') Delete All History
    p
      button(onclick='editor.record().wrap(\'**\', \'**\').record();'): b B
      = ' '
      button(onclick='editor.record().wrap(\'_\', \'_\').record();'): i I
      = ' '
      button(onclick='editor.undo();') Undo
      = ' '
      button(onclick='editor.redo();') Redo
    pre: code
    h2 Methods and Properties
    h3 editor.history()
    p Get history data.
    h3 editor.record()
    p Store current value and selection to history.
    h3 editor.loss()
    p Remove previous history data.
    h3 editor.undo()
    p Undo previous action.
    h3 editor.redo()
    p Redo previous action.
