extends ../_index.pug

block state
  - const title = 'Hook &middot; Text Editor'
  - const scripts = ['../index.min.js', 'hook.min.js']

block script
  script
    | const editor = new TE(document.querySelector('textarea'));
    |
    | // Add a click hook example
    | editor.on('click', () => console.log('click'));
    |
    | // Add a blur hook example
    | editor.on('blur', () => console.log('blur'));

block content
  main
    p: textarea(placeholder!='Type something&hellip;' spellcheck='false')
    h2 Methods and Properties
    h3 editor.fire(event, data)
    p Fire a hook.
    pre: code editor.fire('click', [datum]);
    h3 editor.hooks
    p Return the added hooks.
    pre: code console.log(editor.hooks);
    h3 editor.off(event, then)
    p Remove a hook.
    pre: code editor.off('click');
    pre: code editor.off('click', onClick); // With context
    h3 editor.on(event, then)
    p Add a new hook.
    pre: code
      | editor.on('click', () =&gt; {
      |     alert('Click!');
      | });
    pre: code
      | function onClick() {
      |     alert('Click!');
      | }
      |
      | editor.on('click', onClick); // With context
