extends _index.pug

block state
  - const title = 'Text Editor'
  - const scripts = ['index.min.js']

block script
  script
    | const editor = new TE(document.querySelector('textarea'));
    |
    | let options = document.querySelector('select'),
    |     e = document.querySelector('input[type="checkbox"]');

block content
  main
    p: textarea(cols='100' rows='40' spellcheck='false')
      | a
      | b
      | c
      | d
      | e
      | f
      |
      | 1
      | 2
      | 3
      | 4
      | 5
      | 6
    p
      button(onclick='editor.push(options.value, !e.checked);') Indent
      = ' '
      button(onclick='editor.pull(options.value);') Outdent
    p
      select
        option(disabled value="") Indent with&hellip;
        option(value='&#x0009;') 1 Tab
        option(value='    ') 4 Space(s)
      = ' '
      label
        input(checked type='checkbox')
        = ' '
        span Ignore empty lines?
