.TE,
.TE-modal,
.TE-bubble,
.TE-drop,
.TE-overlay-content,
.TE-button,
.TE-input,
.TE-select,
.TE-textarea {
  background:#fff;
  border:1px solid #000;
  color:#000;
  position:relative;
}
.TE *:focus {outline:0}
.TE,
.TE:before,
.TE:after,
.TE *,
.TE *:before,
.TE *:after {
  margin:0;
  padding:0;
  line-height:1.5;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}
.TE .block {
  display:block;
  width:100%;
}
.TE .left {float:left}
.TE .right {float:right}
.TE a,
.TE a:focus,
.TE a:hover,
.TE a:active {
  background:0 0;
  color:inherit;
  text-decoration:none;
}
.TE ::-webkit-input-placeholder {
  opacity:.2;
  color:inherit;
}
.TE ::-moz-placeholder {
  opacity:.2;
  color:inherit;
}
.TE ::placeholder {
  opacity:.2;
  color:inherit;
}
.TE-header,
.TE-body,
.TE-footer {
  background:inherit;
  border-color:inherit;
  color:inherit;
  position:relative;
}
.TE-header {min-height:2px}
.TE-button,
.TE-input,
.TE-select,
.TE-textarea {
  display:inline-block;
  vertical-align:middle;
  font:inherit;
  padding:.25em .5em;
}
.TE-input {background:#ffa}
.TE-select {
  background:#dfa;
  cursor:pointer;
}
.TE-textarea {
  background:#def;
  width:100%;
  resize:vertical;
}
.TE-toggle {cursor:pointer}
.TE-button,
.TE-separator {
  display:inline-block;
  vertical-align:middle;
  background:#000;
  border:0;
  font:inherit;
  text-align:center;
  text-decoration:none;
  text-shadow:none;
  color:#fff;
  cursor:pointer;
  box-shadow:none;
  border-radius:0;
}
.TE-separator + .TE-separator {display:none} /* remove empty separator(s) without content */
.TE-button::-moz-focus-inner {
  margin:0;
  padding:0;
  border:0;
  outline:0;
}
.TE-button i {
  display:block;
  width:auto;
  height:auto;
  line-height:inherit;
  text-align:center;
}
.TE-button:focus,
.TE-button:hover {background:#006}
.TE-button:active {background:#600}
.TE-tool {border-color:inherit}
.TE-tool .TE-button {
  background:0 0;
  padding:0;
  float:left;
  width:2em;
  line-height:2em;
}
.TE-tool .TE-button:active {
  background:#def;
  box-shadow:inset 0 0 0 2px #fff;
}
.TE-button.x,
.TE-button[disabled] { /* disabled */
  cursor:default;
  opacity:.4;
}
.TE-button.text {width:auto}
.TE-button.text .TE-text {padding:0 .5em}
.TE-button.text .TE-text i {display:inline-block}
.TE-tool .TE-separator {
  width:0;
  height:1.5em;
  margin:.25em 0 0;
  padding:0;
  border-left:1px solid;
  border-color:inherit;
  float:left;
}
.TE-content {
  border-width:0;
  min-height:3em;
  resize:none;
  font-family:"Courier New",Courier,"Nimbus Mono L",Monospace;
}
.TE-body {
  border:0 solid;
  border-width:1px 0;
  overflow:auto;
}
.TE-footer {
  text-transform:uppercase;
  text-align:right;
  min-height:14px;
}
.TE-description {
  font-size:.65em;
  padding:.25em .75em;
}
.TE-tool:after,
.TE-description:after {
  content:"";
  display:table;
  clear:both;
}
.TE-description .right {padding-right:4px}
.TE-resize,
.TE-x {
  position:absolute;
  right:0;
  bottom:0;
  width:1em;
  height:1em;
}
.TE-resize.se {cursor:se-resize}
.TE-resize.s {cursor:s-resize}
.TE-x {
  top:0;
  bottom:auto;
  width:2.5em;
  height:2.5em;
  line-height:2.5em;
  text-align:center;
  cursor:pointer;
}
.TE-x:before {content:'\2715'}
.TE-resize:before {
  content:"";
  display:block;
  position:absolute;
  right:2px;
  bottom:2px;
  border:4px solid;
  border-color:transparent;
  border-right-color:inherit;
  border-bottom-color:inherit;
}
.TE-overlay {
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  z-index:9998;
  background:rgba(0,0,0,.1);
  background:repeating-linear-gradient(-45deg,rgba(0,0,0,.1),rgba(0,0,0,.1) 5px,rgba(0,0,0,.2) 5px,rgba(0,0,0,.2) 10px);
  background-position:50% 50%;
  overflow:auto;
}
.TE-overlay-content {
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  padding:2em;
  border-width:0;
}
.TE-portal {
  display:block;
  float:left;
  margin:0;
  padding:0;
  border:0;
  outline:0;
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
}
.TE-modal,
.TE-drop,
.TE-bubble {
  position:absolute;
  z-index:9999;
  box-shadow:0 1px 2px rgba(0,0,0,.4);
  visibility:hidden;
}
.TE-modal {
  min-width:20em;
  min-height:6em;
}
.TE-modal-header,
.TE-modal-footer {
  height:2.5em;
  line-height:2.5em;
  padding:0 1em;
  position:absolute;
  right:0;
  left:0;
}
.TE-modal-header {
  top:0;
  cursor:move;
}
.TE-modal-body {
  height:100%;
  border-top:2.5em solid transparent;
  border-bottom:3.5em solid transparent;
  overflow:auto;
}
.TE-modal-content {padding:1em}
.TE-modal-footer {
  bottom:0;
  height:3.5em;
  line-height:inherit;
  text-align:right;
}
.TE-modal-footer .TE-button {margin:.75em 0 0}
.TE-modal-footer .TE-button + .TE-button {margin-left:.25em}
.TE-modal .block + .block {margin-top:.5em}
.TE-drop,
.TE-bubble {padding:2px}
.TE-preview {cursor:pointer}
.TE-drop.menu {
  min-width:12em;
  padding:0;
}
.TE-drop.menu .TE-button {
  display:block;
  text-align:left;
  background:0 0;
  color:inherit;
}
.TE-drop.menu .TE-button:active {color:#00a}
.TE-current.menu:after {
  content:"";
  display:inline-block;
  vertical-align:middle;
  width:0;
  height:0;
  border:.25em solid transparent;
  border-top-color:inherit;
  margin:.125em 0 0 .25em;
}