.text-editor,
.text-editor:before,
.text-editor:after,
.text-editor *,
.text-editor *:before,
.text-editor *:after {
  margin:0;
  padding:0;
  line-height:inherit;
  border-color:inherit;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}
.text-editor *:focus {outline:0}
.text-editor,
.text-editor-panel,
.text-editor-message,
.text-editor-modal,
.text-editor-bubble,
.text-editor-drop,
.text-editor-button,
.text-editor-input,
.text-editor-select,
.text-editor-textarea,
.text-editor-toggle {
  line-height:1.5;
  background:#fff;
  border:1px solid #000;
  color:#000;
  text-align:left;
  position:relative;
}
.text-editor-a,
.text-editor-label {
  display:inline-block;
  vertical-align:middle;
  cursor:inherit;
}
.text-editor-a {
  color:#00f;
  text-decoration:none;
  cursor:pointer;
}
.text-editor-a:focus,
.text-editor-a:active {color:#f00}
.text-editor ::-webkit-input-placeholder {
  opacity:.4;
  color:inherit;
}
.text-editor ::-moz-placeholder {
  opacity:.4;
  color:inherit;
}
.text-editor ::placeholder {
  opacity:.4;
  color:inherit;
}
.text-editor-header,
.text-editor-body,
.text-editor-footer {position:relative}
.text-editor-header {min-height:2px}
.text-editor-button,
.text-editor-input,
.text-editor-select,
.text-editor-textarea,
.text-editor-toggle {
  display:inline-block;
  vertical-align:middle;
  font:inherit;
  padding:.25em .5em;
  min-width:12em;
  height:2.142857142857143em;
}
.text-editor-select,
.text-editor-toggle {cursor:pointer}
.text-editor-button,
.text-editor-toggle {
  width:auto;
  min-width:0;
  border-color:transparent;
}
.text-editor-toggle {border-width:0}
.text-editor-textarea {
  width:100%;
  height:auto;
  overflow:auto;
  resize:vertical;
}
.text-editor-separator {border:0}
.text-editor-button,
.text-editor-separator {
  display:inline-block;
  vertical-align:middle;
  background:#000;
  font:inherit;
  text-align:center;
  text-decoration:none;
  text-shadow:none;
  color:#fff;
  cursor:pointer;
}
.text-editor-separator + .text-editor-separator {display:none} /* remove empty separator(s) without content */
.text-editor-button::-moz-focus-inner {
  margin:0;
  padding:0;
  border:0;
  outline:0;
}
.text-editor-i {
  font:inherit;
  display:inline-block;
  vertical-align:middle;
  margin:0;
  padding:0;
  border:0;
  outline:0;
  width:1em;
  height:1em;
  line-height:1em;
  text-align:center;
}
.text-editor-button:focus,
.text-editor-button:hover {background:#00f}
.text-editor-button:active {background:#f00}
.text-editor-tool .text-editor-button {
  background:0 0;
  border-width:0;
  border-color:inherit;
  color:#00f;
  padding:0;
  float:left;
  width:2em;
  height:2em;
  line-height:2em;
}
.text-editor-tool .text-editor-button:focus,
.text-editor-tool .text-editor-button:active,
.text-editor-tool .text-editor-button.on {color:#f00}
.text-editor-tool .text-editor-button .text-editor-i {
  display:block;
  width:100%;
  height:100%;
  line-height:inherit;
}
.text-editor-button.x *,
.text-editor-button[disabled] { /* disabled */
  cursor:default;
  opacity:.4;
}
.text-editor:not(.text-editor-is-can-update):before {
  content:"";
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  cursor:not-allowed;
  z-index:9999;
  background:inherit;
  opacity:.4;
}
.text-editor.text-editor-is-can-copy:hover:before {display:none}
.text-editor-button.text {width:auto}
.text-editor-button.text .text-editor-text {padding:0 .5em}
.text-editor-button.text .text-editor-text .text-editor-i {
  position:absolute;
  top:0;
  bottom:0;
  left:.25em;
  width:1.5em;
}
.text-editor-button.text .text-editor-text .text-editor-i + span {margin-left:1.25em}
.text-editor-tool .text-editor-separator {
  width:0;
  height:1.5em;
  margin:.25em 0 0;
  padding:0;
  border-left:1px solid;
  border-color:inherit;
  float:left;
}
.text-editor-content {
  border-width:0;
  min-height:3em;
  resize:none;
  font-family:"Courier New",Courier,"Nimbus Mono L",Monospace;
}
.text-editor-body {
  border-width:1px 0;
  border-style:solid;
  overflow:auto;
}
.text-editor-footer {
  text-transform:uppercase;
  text-align:right;
  min-height:14px;
}
.text-editor-description {
  font-size:.65em;
  padding:.25em .75em;
}
.text-editor-tool:after,
.text-editor-description:after {
  content:"";
  display:table;
  clear:both;
}
.text-editor-is-can-resize .text-editor-description .right {padding-right:4px}
.text-editor .left {float:left}
.text-editor .right {float:right}
.text-editor-sizer,
.text-editor-x {
  position:absolute;
  right:0;
  bottom:0;
  width:1em;
  height:1em;
}
.text-editor-sizer.se {cursor:se-resize}
.text-editor-sizer.s {cursor:s-resize}
.text-editor-x {
  top:0;
  bottom:auto;
  width:2.6em;
  height:2.6em;
  line-height:2.6em;
  text-align:center;
  cursor:pointer;
}
.text-editor-x:before {content:'\2715'}
.text-editor-sizer:before {
  content:"";
  position:absolute;
  right:2px;
  bottom:2px;
  border:4px solid;
  border-color:transparent;
  border-right-color:inherit;
  border-bottom-color:inherit;
}
.text-editor-panel,
.text-editor-overlay {
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  z-index:9998;
  overflow:auto;
}
.text-editor-overlay.message {
  background:0 0;
  top:.5em;
  right:.5em;
  bottom:auto;
  left:.5em;
  overflow:visible;
}
.text-editor-panel {border-width:0}
.text-editor-panel-header + .text-editor-panel-body {
  position:absolute;
  top:2.6em;
  right:0;
  bottom:0;
  left:0;
  overflow:auto;
}
.text-editor-panel-content {padding:1em}
.text-editor-message {padding:.25em .5em}
.text-editor-message .text-editor-x {
  position:relative;
  float:right;
  margin-right:-.25em;
  width:1em;
  height:1em;
  line-height:1em;
}
.text-editor-message .text-editor-x:before {content:'\00d7'}
.text-editor-portal {
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  margin:0;
  padding:0;
  border:0;
  outline:0;
  width:100%;
  height:100%;
}
.text-editor-modal,
.text-editor-drop,
.text-editor-bubble {
  position:absolute;
  z-index:9999;
  visibility:hidden;
}
.text-editor-modal {
  min-width:20em;
  min-height:6.2em;
}
.text-editor-panel-header,
.text-editor-modal-header,
.text-editor-modal-footer {
  position:absolute;
  right:0;
  left:0;
  height:2.6em;
  line-height:2.6em;
  padding:0 1em;
}
.text-editor-panel-header,
.text-editor-modal-header {
  top:0;
  padding-right:2.6em;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}
.text-editor-modal-header {cursor:move}
.text-editor-modal-body {
  border-top:2.6em solid transparent;
  border-bottom:3.6em solid transparent;
  overflow:auto;
}
.text-editor-modal-content {padding:1em}
.text-editor-modal-footer {
  bottom:0;
  height:3.6em;
  line-height:inherit;
  text-align:right;
}
.text-editor-modal-footer .text-editor-button {margin:.75em 0 0}
.text-editor-modal-body .block {
  display:block;
  width:100%;
}
.text-editor-modal-footer .text-editor-button + .text-editor-button {margin-left:.25em}
.text-editor-modal .block + .block {margin-top:.5em}
.text-editor-drop,
.text-editor-bubble {padding:.2em}
.text-editor-drop.menu {
  min-width:12em;
  padding:0;
  white-space:nowrap;
}
.text-editor-drop.menu .text-editor-button {
  display:block;
  text-align:left;
  background:0 0;
  border-width:0;
  color:#00f;
  height:auto;
}
.text-editor-drop.menu:hover .text-editor-button:focus {color:#00f}
.text-editor-drop.menu .text-editor-button:focus,
.text-editor-drop.menu .text-editor-button:active,
.text-editor-drop.menu .text-editor-button.on,
.text-editor-drop.menu:hover .text-editor-button:hover {color:#f00}
.text-editor-drop.menu .text-editor-label {
  display:block;
  height:1em;
  margin:.25em .5em;
  white-space:nowrap;
  text-overflow:ellipsis;
  background:inherit;
  border-color:inherit;
  position:relative;
}
.text-editor-drop.menu .text-editor-label:before {
  content:"";
  position:absolute;
  top:.5em;
  right:0;
  left:0;
  border-top:1px solid;
  border-color:inherit;
}
.text-editor-drop.menu .text-editor-label span {
  position:absolute;
  top:0;
  font-weight:bold;
  font-size:65%;
  line-height:1.5em;
  text-transform:uppercase;
  padding:0 .5em 0 0;
  background:inherit;
}
.text-editor-button.text[data-ui-drop-data] .text-editor-text:after {
  content:"";
  display:inline-block;
  vertical-align:middle;
  width:0;
  height:0;
  border:.25em solid transparent;
  border-top-color:inherit;
  margin:.125em 0 0 .25em;
}