.text-editor,
.text-editor:before,
.text-editor:after,
.text-editor *,
.text-editor *:before,
.text-editor *:after {
  margin:0;
  padding:0;
  line-height:1.5;
  border-color:inherit;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}
.text-editor *:focus {outline:0}
.text-editor,
.text-editor-modal,
.text-editor-bubble,
.text-editor-drop,
.text-editor-overlay-content,
.text-editor-button,
.text-editor-input,
.text-editor-select,
.text-editor-textarea {
  background:#222;
  border:1px solid #2f2f2f;
  color:#aaa;
  position:relative;
}
.text-editor .block {
  display:block;
  width:100%;
}
.text-editor .left {float:left}
.text-editor .right {float:right}
.text-editor a {
  color:#678;
  text-decoration:none;
}
.text-editor a:focus,
.text-editor a:hover {color:#789}
.text-editor ::-webkit-input-placeholder {
  opacity:.2;
  color:inherit;
}
.text-editor ::-moz-placeholder {
  opacity:.2;
  color:inherit;
}
.text-editor ::placeholder {
  opacity:.2;
  color:inherit;
}
.text-editor-header,
.text-editor-body,
.text-editor-footer {position:relative}
.text-editor-header {min-height:2px}
.text-editor-button,
.text-editor-input,
.text-editor-select,
.text-editor-textarea {
  display:inline-block;
  vertical-align:middle;
  background:#191919;
  color:#eee;
  font:inherit;
  padding:.25em .5em;
  box-shadow:inset 0 1px 2px rgba(0,0,0,.6);
  border-radius:0;
}
.text-editor-select,
.text-editor-toggle {cursor:pointer}
.text-editor-textarea {
  width:100%;
  resize:vertical;
}
.text-editor-button,
.text-editor-separator {
  display:inline-block;
  vertical-align:middle;
  background:#456;
  border:0;
  font:inherit;
  text-align:center;
  text-decoration:none;
  text-shadow:none;
  color:#fff;
  cursor:pointer;
  box-shadow:0 1px 2px rgba(0,0,0,.6);
}
.text-editor-separator + .text-editor-separator {display:none} /* remove empty separator(s) without content */
.text-editor-button::-moz-focus-inner {
  margin:0;
  padding:0;
  border:0;
  outline:0;
}
.text-editor .icon {
  display:block;
  margin:0;
  padding:0;
  border:0;
  outline:0;
  width:100%;
  height:100%;
  line-height:inherit;
  text-align:center;
}
.text-editor-button:focus,
.text-editor-button:hover {background:#567}
.text-editor-button:active {background:#345}
.text-editor-tool .text-editor-button {
  background:0 0;
  padding:0;
  float:left;
  width:2em;
  line-height:2em;
  box-shadow:none;
}
.text-editor-tool .text-editor-button:active {color:inherit}
.text-editor-button.x,
.text-editor-button[disabled] { /* disabled */
  cursor:default;
  opacity:.4;
}
.text-editor-button.text {width:auto}
.text-editor-button.text .text-editor-text {padding:0 .5em}
.text-editor-button.text .text-editor-text .icon {display:inline-block}
.text-editor-tool .text-editor-separator {
  width:0;
  height:1.5em;
  margin:.25em 0;
  padding:0;
  border-left:1px solid;
  border-color:inherit;
  box-shadow:none;
  float:left;
}
.text-editor-content {
  border-width:0;
  min-height:3em;
  resize:none;
  font-family:"Courier New",Courier,"Nimbus Mono L",Monospace;
}
.text-editor-body {
  border-width:1px 0;
  border-style:solid;
  overflow:auto;
}
.text-editor-footer {
  text-transform:uppercase;
  text-align:right;
  min-height:14px;
}
.text-editor-description {
  font-size:.65em;
  padding:.25em .75em;
}
.text-editor-tool:after,
.text-editor-description:after {
  content:"";
  display:table;
  clear:both;
}
.text-editor-description .right {padding-right:4px}
.text-editor-resize,
.text-editor-x {
  position:absolute;
  right:0;
  bottom:0;
  width:1em;
  height:1em;
}
.text-editor-resize.se {cursor:se-resize}
.text-editor-resize.s {cursor:s-resize}
.text-editor-x {
  top:0;
  bottom:auto;
  width:2.5em;
  height:2.5em;
  line-height:2.5em;
  text-align:center;
  cursor:pointer;
}
.text-editor-x:before {content:'\2715'}
.text-editor-resize:before {
  content:"";
  display:block;
  position:absolute;
  right:2px;
  bottom:2px;
  border:4px solid;
  border-color:transparent;
  border-right-color:inherit;
  border-bottom-color:inherit;
}
.text-editor-overlay {
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  z-index:9998;
  background:rgba(0,0,0,.4);
  overflow:auto;
}
.text-editor-overlay-content {
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  padding:2em;
  border-width:0;
}
.text-editor-portal {
  display:block;
  float:left;
  margin:0;
  padding:0;
  border:0;
  outline:0;
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
}
.text-editor-modal,
.text-editor-drop,
.text-editor-bubble {
  position:absolute;
  z-index:9999;
  box-shadow:0 2px 4px rgba(0,0,0,.6);
  visibility:hidden;
}
.text-editor-modal {
  min-width:20em;
  min-height:6em;
}
.text-editor-modal-header,
.text-editor-modal-footer {
  height:2.5em;
  line-height:2.5em;
  padding:0 1em;
  position:absolute;
  right:0;
  left:0;
}
.text-editor-modal-header {
  top:0;
  cursor:move;
}
.text-editor-modal-body {
  height:100%;
  border-top:2.5em solid transparent;
  border-bottom:3.5em solid transparent;
  overflow:auto;
}
.text-editor-modal-content {padding:1em}
.text-editor-modal-footer {
  bottom:0;
  height:3.5em;
  line-height:inherit;
  text-align:right;
}
.text-editor-modal-footer .text-editor-button {margin:.75em 0 0}
.text-editor-modal-footer .text-editor-button + .text-editor-button {margin-left:.25em}
.text-editor-modal .block + .block {margin-top:.5em}
.text-editor-drop,
.text-editor-bubble {padding:2px}
.text-editor-preview {cursor:pointer}
.text-editor-drop.menu {
  min-width:12em;
  padding:0;
  white-space:nowrap;
}
.text-editor-drop.menu .text-editor-button {
  display:block;
  text-align:left;
  background:0 0;
  color:#678;
  box-shadow:none;
  border-radius:0;
}
.text-editor-drop.menu .text-editor-button:focus,
.text-editor-drop.menu .text-editor-button:hover {color:#789}
.text-editor-current.menu:after {
  content:"";
  display:inline-block;
  vertical-align:middle;
  width:0;
  height:0;
  border:.25em solid transparent;
  border-top-color:inherit;
  margin:.125em 0 0 .25em;
}