extends ../_index.pug

block state
  - const title = 'Text Editor'
  - const scripts = ['../index.min.js']

block script
  script
    | const editor = new TE(document.querySelector('textarea'));
    |
    | editor.self.addEventListener('keydown', e => {
    |     let key = e.key,
    |         keyCode = e.keyCode,
    |         keyIsShift = e.shiftKey;
    |     if (
    |         // Modern browser(s)
    |         key && 'Tab' === key ||
    |         // Legacy browser(s)
    |         keyCode && 9 === keyCode
    |     ) {
    |         editor[keyIsShift ? 'pull' : 'push']('    ');
    |         e.preventDefault();
    |     }
    | });
block content
  main
    p Use #[kbd Tab] key to indent and #[kbd Shift+Tab] key to outdent.
    p: textarea(cols='100' rows='24' spellcheck='false')
      | a
      | b
      | c
      | d
      | e
      | f
      |
      | 1
      | 2
      | 3
      | 4
      | 5
      | 6
    p
      button(onclick='editor.wrap(\'*\', \'*\');'): b B
      = ' '
      button(onclick='editor.wrap(\'_\', \'_\');'): i I
