* {
  margin:0;
  padding:0;
}
body {
  background-color:#DDEBF9;
  font:normal normal 13px/1.4 Helmet,Freesans,Sans-Serif;
  color:#333;
  padding:10px;
}
h3 {
  margin:1em 0 0;
  line-height:1;
  font-weight:bold;
  font-size:120%;
}
p {margin:1em 0}

/* CSS for code editor */
.editor-area-wrapper {
  display:block;
  background-color:#333;
  font:normal normal 13px/16px Consolas,"Andale Mono WT","Andale Mono","Lucida Console","Lucida Sans Typewriter","DejaVu Sans Mono","Bitstream Vera Sans Mono","Liberation Mono","Nimbus Mono L",Monaco,"Courier New",Courier,Monospace;
  color:#ccc;
  position:relative;
  border:1px solid black;
  height:200px;
  overflow:auto;
}
.editor-layer {
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  padding:5px 6px;
  cursor:text;
}
.editor-layer pre,
.editor-layer code,
.editor-layer textarea {
  margin:0;
  padding:0;
  display:block;
  background:none;
  border:none;
  outline:none;
  width:100%;
  font:inherit;
  color:inherit;
  white-space:pre;
  white-space:pre-wrap;
  word-wrap:break-word;
  resize:none;
  overflow:hidden;
  cursor:inherit;
}
.editor-layer textarea {margin-bottom:5px}
.editor-layer-2,
.editor-layer-3 {
  color:transparent;
  text-shadow:none;
}
.fake-caret {
  width:0;
  border-right:1px solid white;
  position:relative;
  z-index:9999; /* Still cannot covering the textarea caret in Opera and IE9 :( */
}
.dim .fake-caret {border-right-color:#222}