extends ../_index.pug

block state
  - const title = 'Text Editor'
  - const scripts = ['../index.min.js']

block script
  script
    | const editor = new TextEditor(document.querySelector('textarea'));
    |
    | editor.on('paste', function (e) {
    |     let {after, before} = this.$(),
    |         clipboard = e.clipboardData || window.clipboardData;
    |     if (clipboard) {
    |         e.preventDefault();
    |         return this.insert(clipboard.getData('Text').replace(/\s*<.*?>\s*/g, ' '));
    |     }
    |     // Does not support Clipboard API, wait until the value is pasted, then strip the tag(s)
    |     setTimeout(() => {
    |         this.select(before.length, this.value.length - after.length).replace(/\s*<.*?>\s*/g, ' ');
    |     }, 0);
    | }, false);

block content
  main
    P Paste some text contains #[abbr(title='Hyper Text Markup Language') HTML] tags!
    p: textarea(cols='100' rows='20' spellcheck='false') Lorem ipsum dolor sit amet.