.text-editor,
.text-editor-panel,
.text-editor-message,
.text-editor-modal,
.text-editor-bubble,
.text-editor-drop,
.text-editor-button,
.text-editor-input,
.text-editor-select,
.text-editor-textarea {
  background:#222;
  border-color:#2f2f2f;
  color:#aaa;
}
.text-editor-a {color:#678}
.text-editor-a:focus,
.text-editor-a:hover {color:#789}
.text-editor-a:active {color:#89a}
.text-editor-button,
.text-editor-input,
.text-editor-select,
.text-editor-textarea {
  background:#191919;
  color:#eee;
  box-shadow:inset 0 1px 2px rgba(0,0,0,.6);
}
.text-editor-button {border-color:transparent}
.text-editor-button,
.text-editor-separator {
  background:#456;
  color:#fff;
  box-shadow:0 1px 2px rgba(0,0,0,.6);
}
.text-editor-button:focus,
.text-editor-button:hover {background:#567}
.text-editor-button:active {background:#345}
.text-editor-tool .text-editor-button,
.text-editor-tool .text-editor-separator {
  background:0 0;
  color:#678;
  box-shadow:none;
}
.text-editor-tool .text-editor-button:focus,
.text-editor-tool .text-editor-button:hover,
.text-editor-tool .text-editor-button.on {color:#789}
.text-editor-tool .text-editor-button:active {color:#89a}
.text-editor-overlay {background:rgba(0,0,0,.4)}
.text-editor-message,
.text-editor-modal,
.text-editor-drop,
.text-editor-bubble {box-shadow:0 2px 4px rgba(0,0,0,.6)}
.text-editor-drop.menu .text-editor-button,
.text-editor-drop.menu:hover .text-editor-button:focus {
  background:0 0;
  color:#678;
  box-shadow:none;
}
.text-editor-drop.menu .text-editor-button:focus,
.text-editor-drop.menu .text-editor-button:active,
.text-editor-drop.menu .text-editor-button.on,
.text-editor-drop.menu:hover .text-editor-button:hover {color:#789}