/* FYI: Fam Fam Fam theme requires `ui.i.fam-fam-fam.min.css` */
.text-editor,
.text-editor-panel,
.text-editor-message,
.text-editor-modal,
.text-editor-bubble,
.text-editor-drop,
.text-editor-button,
.text-editor-input,
.text-editor-select,
.text-editor-textarea {
  background:#f9f9f9;
  border-color:#ccc;
  color:#666;
}
.text-editor-a,
.text-editor-a:focus,
.text-editor-a:hover,
.text-editor-a:active {color:inherit}
.text-editor-button,
.text-editor-input,
.text-editor-select,
.text-editor-textarea {
  background:#fff;
  border-top-color:#aaa;
  color:#333;
}
.text-editor-button {border-color:transparent}
.text-editor-button,
.text-editor-separator {
  background:#50a04b;
  color:#fff;
  border-radius:2px;
}
.text-editor-button:focus,
.text-editor-button:hover {background:#469043}
.text-editor-tool .text-editor-button {
  background:0 0;
  color:inherit;
  text-shadow:none;
  border-radius:0;
}
.text-editor-tool .text-editor-button:focus,
.text-editor-tool .text-editor-button:active,
.text-editor-tool .text-editor-button.on {
  background:#eee;
  color:inherit;
}
.text-editor-tool .text-editor-separator {border-radius:0}
.text-editor-body {border-top-color:#aaa}
.text-editor-overlay {cursor:text}
.text-editor-message,
.text-editor-modal,
.text-editor-drop,
.text-editor-bubble {box-shadow:0 0 2px rgba(0,0,0,.2)}
.text-editor-modal-footer {background:#fafafa}
.text-editor-drop.menu .text-editor-button,
.text-editor-drop.menu:hover .text-editor-button:focus {
  background:0 0;
  color:inherit;
  text-shadow:none;
  border-radius:0;
}
.text-editor-drop.menu .text-editor-button:focus,
.text-editor-drop.menu .text-editor-button:active,
.text-editor-drop.menu .text-editor-button.on,
.text-editor-drop.menu:hover .text-editor-button:hover {
  background:#eee;
  color:inherit;
}