.text-editor,
.text-editor-panel,
.text-editor-message,
.text-editor-modal,
.text-editor-bubble,
.text-editor-drop,
.text-editor-button,
.text-editor-input,
.text-editor-select,
.text-editor-textarea {
  background:#fff;
  border-color:#ddd;
  color:#999;
}
.text-editor-a,
.text-editor-a:focus,
.text-editor-a:hover,
.text-editor-a:active {color:inherit}
.text-editor-button,
.text-editor-input,
.text-editor-select,
.text-editor-textarea {
  background:#fafafa;
  border-top-color:#ccc;
  color:#666;
  box-shadow:inset 0 0 1px rgba(0,0,0,.1);
}
.text-editor-button {border-color:transparent}
.text-editor-button,
.text-editor-separator {
  background:#eee;
  color:#999;
  box-shadow:none;
}
.text-editor-button:focus,
.text-editor-button:hover {background:#e5e5e5}
.text-editor-tool .text-editor-button {color:inherit}
.text-editor-tool .text-editor-button:hover {background:0 0}
.text-editor-tool .text-editor-button:focus,
.text-editor-tool .text-editor-button:active,
.text-editor-tool .text-editor-button.on {
  background:#f5f5f5;
  color:inherit;
}
.text-editor-body {border-top-color:#ccc}
.text-editor-overlay {background:rgba(255,255,255,.5)}
.text-editor-message,
.text-editor-modal,
.text-editor-drop,
.text-editor-bubble {box-shadow:0 0 2px rgba(0,0,0,.2)}
.text-editor-modal-footer {background:#fafafa}
.text-editor-drop.menu .text-editor-button,
.text-editor-drop.menu:hover .text-editor-button:focus {
  background:0 0;
  color:inherit;
}
.text-editor-drop.menu .text-editor-button:focus,
.text-editor-drop.menu .text-editor-button:active,
.text-editor-drop.menu .text-editor-button.on,
.text-editor-drop.menu:hover .text-editor-button:hover {
  background:#f5f5f5;
  color:inherit;
}