extends ../_index.pug

block state
  - const title = 'Text Editor'
  - const scripts = ['../index.min.js']

block script
  script
    | const editor = new TE(document.querySelector('textarea'));

block content
  main
    p: textarea(cols='100' rows='24' spellcheck='false')
      | a
      | b
      | c
      | d
      | e
      | f
      |
      | 1
      | 2
      | 3
      | 4
      | 5
      | 6
    p
      button(onclick='editor.push();') Indent
      = ' '
      button(onclick='editor.pull();') Outdent
      = ' '
      button(onclick='editor.push(\'****\');') Indent by #[code ****]
      = ' '
      button(onclick='editor.pull(\'****\');') Outdent from #[code ****]
