extends _index.pug

block state
  - const scripts = ['index.min.js']
  - const styles = ['../layout/index.min.css']
  - const theme = '#000'
  - const title = 'Text Editor ' + version

block script
  script
    | const editor = new TextEditor(document.querySelector('textarea'));

block style
  style
    | [role='group'] button {
    |   min-width: 2.5rem;
    | }
    |
    | @media (min-width: 45rem) {
    |   :root {
    |     padding-bottom: 3rem;
    |     padding-top: 3rem;
    |   }
    |   body > * {
    |     margin-left: auto;
    |     margin-right: auto;
    |     max-width: 45rem;
    |   }
    | }

block content
  p(role='alert') Do you like this project? Please support my #[a(href='https://github.com/mecha-cms') Mecha CMS] project too. Thank you!
  header
    h1= title
    p Text Editor is a simple JavaScript application that aims to provide accessibility enhancements to the native HTML #[code &lt;textarea&gt;] elements, allowing users to control and manipulate their data in the text editor as they wish.
    hr
  main
    p It contains very sufficient methods to manipulate the existing text selection range data without providing unnecessary features. This keeps the file size small and the learning curve low, so you can fully focus on the results.
    p
      textarea(spellcheck='false' style={
        'display': 'block',
        'width': '100%'
      }) Lorem ipsum dolor sit amet.
    p(role='group')
      button(onclick='editor.wrap(\'<b>\', \'</b>\');'): b B
      = ' '
      button(onclick='editor.wrap(\'<i>\', \'</i>\');'): i I
      = ' '
      button(onclick='editor.insert(\'😀\', -1, true);') &#x263A;
    h2 Usage
    h3 Browser
    pre: code
      | &lt;!DOCTYPE html&gt;
      | &lt;html dir="ltr"&gt;
      |   &lt;head&gt;
      |     &lt;meta charset="utf-8"&gt;
      |   &lt;/head&gt;
      |   &lt;body&gt;
      |     &lt;p&gt;
      |       &lt;textarea&gt;&lt;/textarea&gt;
      |     &lt;/p&gt;
      |     &lt;script src="#[a(href='index.min.js' target='_blank') ./index.min.js]"&gt;&lt;/script&gt;
      |     &lt;script&gt;
      |       const editor = new TextEditor(document.querySelector('textarea'));
      |     &lt;/script&gt;
      |   &lt;/body&gt;
      | &lt;/html&gt;
    h3 Node.js
    p Functions and methods in this application are mostly native JavaScript and are intended for use by the browser. Node.js doesn&rsquo;t know about the DOM, so this kind of practice will probably be used more often to build new browser packages than to be used directly in the Node.js server.
    h4 CommonJS
    pre: code
      | const TextEditor = require('@taufik-nurrohman/text-editor').default;
      |
      | const editor = new TextEditor(document.querySelector('textarea'));
    h4 ECMAScript
    pre: code
      | import TextEditor from '@taufik-nurrohman/text-editor';
      |
      | const editor = new TextEditor(document.querySelector('textarea'));
    h2 Examples
    ul
      li: a(href='test.html' target='_blank') No Idea?
      li: a(href='test/self.html' target='_blank') Multiple Instances
      li: a(href='test/disabled.html' target='_blank') Disabled Text Area
      li: a(href='test/read-only.html' target='_blank') Read-Only Text Area
      li: a(href='test/get,let,set.html' target='_blank') Set, Get and Let Value
      li: a(href='test/$.html' target='_blank') Get Selection Data
      li: a(href='test/blur,focus.html' target='_blank') Focus, Blur Events
      li: a(href='test/select.html' target='_blank') Set Selection Range
      li: a(href='test/match.html' target='_blank') Match Selection
      li: a(href='tweak/alter.html' target='_blank') Alter Selection
      li: a(href='tweak/alter.prompt.html' target='_blank') Alter Selection with Prompt Value
      li: a(href='tweak/toggle.html' target='_blank') Toggle Replace Selection
      li: a(href='test/replace.html' target='_blank') Replace Selection
      li: a(href='test/insert.html' target='_blank') Insert Selection
      li: a(href='test/peel,wrap.html' target='_blank') Wrap, Peel Selection
      li: a(href='test/pull,push.html' target='_blank') Indent, Outdent Selection
      li: a(href='tweak/pull,push.type.html' target='_blank') Indent, Outdent by Custom Character
      li: a(href='tweak/pull,push.key.html' target='_blank') Indent, Outdent with Keyboard Key
      li: a(href='tweak/replace,search.html' target='_blank') Search/Replace Functionality
      li: a(href='tweak/paste.html' target='_blank') Paste as Plain Text
      li: a(href='test/trim.html' target='_blank') Trim Selection
      li: a(href='test/self.input.html' target='_blank') Using #[code &lt;input&gt;] Instead of #[code &lt;textarea&gt;]
    h2 Settings
    pre: code const editor = new TextEditor(self, tab = '\t');
    pre: code
      | const editor = new TextEditor(self, state = {
      |     tab: '\t',
      |     with: []
      | });
    table(border='1')
      thead
        tr
          th Name
          th Description
      tbody
        tr
          td: code self
          td The text area element.
        tr
          td: code tab
          td The default indent character for #[code editor.pull()] and #[code editor.push()] method.
        tr
          td: code state
          td The configuration data.
        tr
          td: code state.tab
          td The default indent character for #[code editor.pull()] and #[code editor.push()] method.
        tr
          td: code state.with
          td List of callable functions or objects containing an #[code attach()] method to be invoked each time the application is initialized. A very simple “plugin” system.
    h2 Methods and Properties
    h3: code TextEditor.esc(string)
    p Escape regular expression&rsquo;s special characters.
    h3: code TextEditor.instances
    p Return the application instances.
    pre: code
      | for (let key in TextEditor.instances) {
      |     console.log(key);
      |     console.log(TextEditor.instances[key]);
      | }
    h3: code TextEditor.state
    p Return the default values of #[code editor.state].
    pre: code
      | const editor = new TextEditor(document.querySelector('textarea'), {
      |     foo: ['bar', 'baz', 'qux']
      | });
      |
      | console.log([TextEditor.state, editor.state]);
    h3: code TextEditor.version
    p Return the application version.
    pre: code
      | let version = TextEditor.version,
      |     major = version.split('.')[0];
      |
      | if (+major &lt; 3) { &hellip; }
    h3: code TextEditor.x
    p List of regular expression characters to be escaped.
    h3: code editor.blur()
    p Blur from the #[code &lt;textarea&gt;] element.
    h3: code editor.focus(mode = 0)
    p Focus to the #[code &lt;textarea&gt;] element.
    pre: code
      | editor.focus(); // Focus to the last selection
      | editor.focus(-1); // Focus to the start of text area value
      | editor.focus(1); // Focus to the end of text area value
      | editor.focus(true); // Select all
    h3: code editor.get()
    p Get current value of the #[code &lt;textarea&gt;] element if not empty, otherwise, return #[code null].
    h3: code editor.insert(string, mode = 0, clear = false)
    p Insert #[var string] to (replace) the current selection.
    pre: code
      | editor.insert(':)'); // Insert at selection (replace selection)
      | editor.insert('&lt;b&gt;', -1); // Insert before selection
      | editor.insert('&lt;/b&gt;', 1); // Insert after selection
      | editor.insert(':)', -1, true); // Insert before selection and delete selection
      | editor.insert(':)', 1, true); // Insert after selection and delete selection
    h3: code editor.let()
    p Reset value to the initial value of the #[code &lt;textarea&gt;] element.
    h3: code editor.match(pattern, then)
    p Match current selection with the pattern provided.
    pre: code
      | if (editor.match(/^\s*:\w+:\s*$/)) {
      |     alert('Selection is detected as emoji!'); // &rarr; #[a(href='test/match.html' target='_blank') demo]
      | }
    p Do something with the current matched selection.
    pre: code
      | let maps = {
      |     ':happy:': '😀',
      |     ':sad:': '😩',
      |     ':wonder:': '😕'
      | };
      |
      | editor.match(/^\s*:\w+:\s*$/, function (m) {
      |     let exists = maps[m[0] = m[0] ? m[0].trim() : ""];
      |     exists &amp;&amp; this.insert(exists); // &rarr; #[a(href='test/alter.html' target='_blank') demo]
      | });
    p Match to the characters before selection, current selection and characters after selection.
    pre: code
      | let test = editor.match([/:$/, /^\w+$/, /^:/]);
      | console.log(test[0] &amp;&amp; test[1] &amp;&amp; test[2]);
    pre: code
      | editor.match([/:$/, /^\w+$/, /^:/], function (before, value, after) {
      |     console.log([before, value, after]); // &rarr; #[a(href='test/toggle.html' target='_blank') demo]
      | });
    h3: code editor.peel(open, close, wrap = false)
    p Unwrap current selection from #[var open] and #[var close].
    pre: code
      | editor.peel('&lt;', '&gt;'); // Remove `&lt;` before selection and `&gt;` after selection
      | editor.peel('&lt;', '&gt;', true); // Remove `&lt;` at selection start and `&gt;` at selection end
    h3: code editor.pull(by = editor.state.tab, includeEmptyLines = true)
    p Outdent current selection from #[var by].
    pre: code
      | editor.pull(); // Outdent from `\t`
      | editor.pull('****'); // Outdent from `****`
    h3: code editor.push(by = editor.state.tab, includeEmptyLines = false)
    p Indent current selection with #[var by].
    pre: code
      | editor.push(); // Indent with `\t`
      | editor.push('****'); // Indent with `****`
    h3: code editor.replace(from, to, mode = 0)
    p Replace current, before or after selection from #[var from] to #[var to].
    pre: code
      | editor.replace(/&lt;.*?&gt;/g, ""); // Strip HTML tag(s) in selection
      | editor.replace(/&lt;.*?&gt;/g, "", -1); // Strip HTML tag(s) before selection
      | editor.replace(/&lt;.*?&gt;/g, "", 1); // Strip HTML tag(s) after selection
    h3: code editor.select(...lot)
    p Set selection range.
    pre: code
      | editor.select(); // Is the same as `editor.focus()`
      | editor.select(2); // Move caret to the index `2`
      | editor.select(0, 2); // Select from range `0` to `2`
      | editor.select(true); // Select all
    h3: code editor.self
    p Return the #[code &lt;textarea&gt;] element.
    pre: code
      | editor.self.addEventListener('keydown', e =&gt; {
      |     if (
      |         (e.key &amp;&amp; 'Enter' === e.key) ||
      |         (e.keyCode &amp;&amp; 13 === e.keyCode)
      |     ) {
      |         // Do something with `Enter` key!
      |     }
      | });
    h3: code editor.set(value)
    p Set value to the #[code &lt;textarea&gt;] element.
    h3: code editor.source
    p Alias of #[code editor.self] property.
    h3: code editor.state
    p Return the text editor states if any.
    h3: code editor.trim(open = "", close = "", start = "", end = "", tidy = true)
    p Trim current selection from white-spaces, and optionally insert characters at the specified points.
    pre: code
      | // `a&lt;open&gt;#[mark &lt;start&gt;b&lt;end&gt;]&lt;close&gt;c`
      |
      | editor.trim(); // Remove any white-space(s) before and after selection, start and end of selection
      | editor.trim(false, false); // Remove any white-space(s) at the start and end of selection
      | editor.trim("", "", false, false); // Remove any white-space(s) before and after selection
      | editor.trim(' ', ' '); // Force a space before and after selection
      | editor.trim('\n\n', '\n\n'); // Force line-break before and after selection
      | editor.trim('\n\n', '\n\n', "", "", false); // Ignore empty value before and after selection, just insert that `\n\n` away
    h3: code editor.value
    p Return the initial value of the #[code &lt;textarea&gt;] element.
    h3: code editor.wrap(open, close, wrap = false)
    p Wrap current selection with #[var open] and #[var close].
    pre: code
      | editor.wrap('&lt;', '&gt;'); // Wrap with `&lt;` and `&gt;`
      | editor.wrap('&lt;', '&gt;', true); // Wrap with `&lt;` and `&gt;` then select
    h3: code editor.$()
    p Get current text selection data.
    pre: code
      | // `a#[mark b]c`
      | console.log(editor.$()); // `{"after":"c","before":"a","end":2,"length":1,"start":1,"value":"b"}`
    h2 Extensions
    h3 Anatomy of an Extension
    p Extension as a function:
    pre: code
      | function Extension(self, state = {}) {
      |     this.editorMethod = function () {};
      |     this.editorProperty = 1;
      | }
    p Extension as an object:
    pre: code
      | const Extension = {
      |     attach: function (self, state = {}) {}
      |     detach: function (self, state = {}) {}
      | };
    h3 Usage of an Extension
    p As a core extension:
    pre: code
      | TextEditor.state.with.push(Extension);
    p As an optional extension:
    pre: code
      | const editor = new TextEditor(document.querySelector('textarea'), {
      |     with: [Extension]
      | });
    h3 List of Extensions
    ul
      li: a(href='../text-editor.history/index.html' target='_blank') History Feature
      li: a(href='../text-editor.key/index.html' target='_blank') Key(board) Feature
      li: a(href='../text-editor.rect/index.html' target='_blank') Rect Feature
      li: a(href='../text-editor.source/index.html' target='_blank') Generic Source Code Editor
      li: a(href='../text-editor.source-x-m-l/index.html' target='_blank') XML Source Code Editor
      li: a(href='../text-editor.source-h-t-m-l/index.html' target='_blank') HTML Source Code Editor
      li: a(href='../text-editor.source-markdown/index.html' target='_blank') Markdown Source Code Editor
      li: a(aria-disabled='true') BBCode Editor
      li: a(aria-disabled='true') HTML Editor
      li: a(aria-disabled='true') Markdown Editor
    h2 License
    p Use it for free, pay if you get paid. So, you&rsquo;ve just benefited financially after using this project? It&rsquo;s a good idea to #[a(href='https://paypal.me/tatautaufik' target='_blank') share a little financial support] with this open source project too. Your support will motivate me to do any further development, as well as to provide voluntary support to overcome problems related to this project.
    p Thank you! ❤️
  footer
    hr
    p
      != '&copy; ' + year + ' '
      a(href='/') Taufik Nurrohman